$first-tone: #261f1f;
$second-tone: #1e1717;
$third-tone: #140c0c;

$primary: #d41010;
// $primary: #f900d8a6;
$primary: #ffffffae;
$primary-invert: #000000ae;

$background: #fff5;
// $background: #0006;
$background-content: #000a;
$shadow: #0003;