$first-tone: #261f1f;
$second-tone: #1e1717;
$third-tone: #140c0c;

$primary: #970b0b;
$primary-invert: #fff;
$primary-link: #a76a6a;

$background: $third-tone;
$background-content: $first-tone;
$shadow: #0009;
$page-bg: $second-tone;




$material-primary: $primary;